html {
  background: #434d51;
  color: #eeedec;
}

h1 {
  display: inline-block;
  margin: 0 15px;
}

p {
  margin: 10px 15px;
}


#root {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
}

.restart-btn {
  display: inline-block;
  margin-left: 30px;
  border: none;
  background-color: #eeedec;
  padding: 6px;
}

.restart-btn:hover {
  cursor: pointer;
  background-color: #514743;
  color: #eeedec;
}