.card {
  background: #514743;
  width: 220px;
  height: 220px;
  object-fit: contain;
  margin: 5px;
  display: flex;
  align-items: center;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: auto;
}

.card:hover {
  cursor: pointer;
}
